#headertext1{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-left: 19cm;
    margin-top: 2cm;
}
#form_package{
    border: solid rgb(207, 205, 205) 1px;
    padding: 10px 50px 30px 50px;
    margin-top: 1cm;
    margin-left: 14cm;
}

.form_package form{
    max-width: 650px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
    margin-top: 2.5cm;
    border-radius: 5px;
}
.form_package form .row{
    width: 100%;
    margin: 15px 0;
}

.form_package form .row :focus{
    border-color: #072344;
   
}

.form_package form input, textarea{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
}
.form_package form button{
    width: 170px;
    height: 40px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-weight: 700;
    margin-left: 5cm;
    margin-top: 0.5cm;
    border-radius: 6px;
    border:2px solid#020e1b;
}

.form_package form button:hover {
    background: #051931;
    color: white;
    
  }



#image{
    margin-top: -16cm;
    margin-left: 29cm;
    width: 8cm;
    height: auto;
}

/* view table  */

#package_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96%;
    border: 2px solid rgb(206, 206, 206);   
  }
  

#package_table td, #package_table th {
    border: 1px solid rgb(189, 189, 189);
    padding: 8px;
  }
  
#package_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
#btn1{
      width: 85px;
      height: 33px;
      background-color: blue;
      border-color: blue;
      border-radius: 50px 0px 0px 50px;
  }
.blackiconcolor{
      color: white;
     
  }
#btn2{
    width: 85px;
    height: 33px;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    border-radius: 0px 50px 50px 0px;
    color: white;
}

#btn1:hover {
    background-color: rgb(0, 0, 105);
    border-color: rgb(0, 0, 105);
  }
  
#btn2:hover {
    background-color: rgb(145, 0, 0);
    border-color: rgb(145, 0, 0);
  }

#table1{
      margin-left: 7.5cm;
      margin-top: 0.5cm;
      
  }

#text1{
      font-weight: bold;
      font-size: 20px;
      margin-left:2cm;

  }
#iconimage{
    width: 35px;
    margin-top: -1cm;
    margin-left: 0.5cm;

}
#btn3{
    width: 135px;
    height: 33px;
    margin-top: -1.5cm;
    margin-left: 35cm;
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(0, 0, 105);
    border-color: rgb(0, 0, 105);    
}

#btn3:hover {
    background-color: rgb(5, 5, 58);
    border-color: rgb(5, 5, 58);
  }

#topic_details{
    margin-top: 2cm;
    margin-left: 8cm;
}
#hr{
    border-top: 1px solid rgb(150, 150, 150);
}