.sidebar {
    width: 210px;
    background-color: rgb(0, 0, 72);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    padding: 20px;
    box-sizing: border-box;
    color: white;
}

  .menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  
  .dropdown div {
    padding: 5px;
    cursor: pointer;
  }
  
  .menu-item:hover .dropdown {
    display: flex;
  }
  
  .mainImage{
    margin-left: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 140px; /* Adjust the width according to your design */
    height: auto;
    align-items: center;
    
  }
  