.packageDetails{
    padding-top: 60px;
}

.btn-warning {
    background-color: yellow;
    color: black; /* You may adjust text color as needed */
  }
  
  .btn-danger {
    background-color: red;
    color: white; /* You may adjust text color as needed */
  }

