#LoginPage{
    background-repeat: no-repeat;
    background-size: 100% 19.1cm;
    border: 1px solid rgb(255, 255, 255);
    height: 19.1cm;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#formlogin{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(39, 2, 175);
    margin-top: 3cm;
    width: 12cm;
    height: 12.5cm;
    padding: 30px;
    margin-left: 5cm;
    border-radius: 2px;
    margin-left: 10cm;
}


#ltext1{
    color: rgb(0, 0, 0);
    margin-left: 3.5cm;
    font-size: 40px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
#ltext2{
    background-color: #070765fb;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    letter-spacing: 2px;
}
#ltext2:hover{
    background-color: #1a75ff;
    border-radius: 20px;
    color: black;
}
#ltext3{
    color: rgb(136, 136, 136);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 3.1cm;
}
#ltext4{
    color: rgb(102, 102, 102);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 3.2cm;
    text-decoration: none;
}
#ltext4:hover{
    color: rgb(19, 2, 255);
    text-decoration: none;
}

#tb1 {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border-color: rgb(76, 165, 224);
}


#c1{
    background-image: url('../Images/bg_image.jpg');
    background-repeat: no-repeat;
    background-size: 12cm 12.5cm;
    width: 12cm;
    height: 12.5cm;
    background-color: darkblue;
    margin-left: 21.5cm;
    margin-top: -12.5cm;
}
#ltext5{
    color: #ffffff;
    margin-left: 1cm;
    font-size: 46px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#ltext6{
    color: #ffffff;
    margin-left: 2.7cm;
    font-size: 42px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.mainImage{
    height: 250px;
    width: 320px;
    margin-left: 2cm;
}