#RegisterPage{
    background-repeat: no-repeat;
    background-size: 100% 19.1cm;
    border: 1px solid rgb(255, 255, 255);
    height: 19.1cm;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#formreg{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 19, 190);
    margin-top: 3cm;
    width: 12cm;
    height: 12.5cm;
    padding: 30px;
    margin-left: 5cm;
    border-radius: 1px;
    margin-left: 10cm;
}


#rtext1{
    color: rgb(0, 0, 0);
    margin-left: 2.6cm;
    font-size: 40px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
#rtext2{
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: -0.5cm;
    background-color: #01017c;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    letter-spacing: 2px;
}
#rtext2:hover{
    background-color: #1a75ff;
    border-radius: 20px;
    color: black;
}
#rtext3{
    color: rgb(136, 136, 136);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 3.1cm;
}
#rtext4{
    color: rgb(102, 102, 102);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 2.8cm;
    text-decoration: none;
}
#rtext4:hover{
    color: rgb(19, 2, 255);
    text-decoration: none;
}

#rtb1 {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border-color: rgb(0, 75, 124);
}

#c2{
    background-image: url('../Images/bg_image.jpg');
    background-repeat: no-repeat;
    background-size: 12cm 12.5cm;
    width: 12cm;
    height: 12.5cm;
    background-color: darkblue;
    margin-left: 21.5cm;
   
    margin-top: -12.5cm;
}
#rtext5{
    color: #ffffff;
    margin-left: 3.5cm;
    font-size: 46px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#rtext6{
    color: #ffffff;
    margin-left: 0.5cm;
    font-size: 42px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}
#rtext7{
    color: rgb(255, 255, 255);
    margin-left: 2cm;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}