.container{
    padding-top: 60px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 5px; /* Set rounded corners for the entire rectangle */
    overflow: hidden; /* Ensure content doesn't overflow rounded corners */
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
  }
  
  .right-side {
    flex: 1;
    background-color:  rgb(0, 0, 72); /* Set the background color for the right side */
    color: white;
    text-align: center;
    padding: 20px;
    border-top-right-radius: 15px; /* Set rounded corners for the top right of the right side */
    border-bottom-right-radius: 15px; /* Set rounded corners for the bottom right of the right side */
  }
  
  .headText{
    font-size: xx-large;
    font-weight: bold;
  }